{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4>Create an Account</h4>
            <hr>
            <form action="" method="post" class="form-group">
                {% csrf_token %}
                {{form|crispy}}
                <p>Already have an account?<a href="/accounts/login/">Login</a></p>
                <button class="btn btn-danger" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
