{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>
    .card {
        box-shadow: 0 0 11px 5px rgb(103 58 183 / 10%);
    }
    .image {
        background-repeat: no-repeat;
        overflow-x: hidden;
    }
    .pic {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .container-fluid {
        background-image: url("/static/images/download.jpeg");
    }
</style>
<div class="container-fluid" >
    
    <a href="" class="image">
    <img src="/static/images/download.jpeg" alt="background image" srcset="">
        </a>
</div><br><br>
<div class="container">
    {% if user.is_authenticated %}
    <div class="modal fade jojo" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Upload a project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-sm btn-info" value="Save">
                    <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                    </button>

                </form>
              
            </div>
          </div>
        </div>
      </div>
      {% endif %}

    <div class="row">
    {% for post in posts %}
    <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
            <a href="{% url 'single_project' post.title %}"><img class="card-img-top" src="{{ post.photo.url}}" alt="{{photo.title}}"></a>
            <div class="card-body">
            <h4 class="card-text"><a href="{% url 'single_project' post.title %}">{{post.title|title}}</a><a class="btn btn-sm btn-outline-info" href="{{ post.url }}">View</a></h4>
            <p class="card-text"><img src="{{post.user.profile.prof_pic.url}}" class="pic" alt=""> By {{post.user.username|title}}<span style="float: right;">Posted on : {{post.date|date}}</span></p>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}