{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .card {
        box-shadow: 0 0 11px 5px rgb(103 58 183 / 10%);
    }
    .pic {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
</style>

<div class="container" style="margin-top:7%;">
    <div class="row">
        <!-- <div class="col-md-2"></div> -->
        <div class="col-md-4 mt-4">
            <img class="rounded-circle" style="height: 300px;width: 300px;" src="{{ user.profile.prof_pic.url }}" alt="profile photo">
            <h5 class="text-center mt-3"><strong>Username: </strong>{{user.username|title}}</h5>
            <p class="text-center mt-3"><strong>Bio: </strong> {{user.profile.bio}}</p>
            <p class="text-center"> <strong>Contact: </strong>{{user.email}}</p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-5 mt-5">
            {% for post in posts %}
            <h3>Projects posted: </h3>&nbsp;
            <div class="card  border-danger mb-4" style="width: 18rem;">
                <a href="{% url 'single_project' post.title %}"><img class="card-img-top" src="{{ post.photo.url}}" alt="{{photo.title}}"></a>
                <div class="card-body">
                <h4 class="card-text"><a href="{% url 'single_project' post.title %}">{{post.title|title}}&nbsp;&nbsp;</a><a class="btn btn-sm btn-outline-info" href="{{ post.url }}">View</a></h4>
                <p class="card-text"><img src="{{post.user.profile.prof_pic.url}}" class="pic" alt=""> By {{post.user.username|title}}</p>
                </div>
                <div class="card-footer text-muted"><span style="float: right;">Posted on : {{post.date|date}}</span></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
